/words/
/IAM_WORDS.zip
/IAM_Words/
/generated-pages/
/generated-nolines-pages/
/generated-pages-blocks/
/generated-nolines-pages-blocks/
/generated-words/
generated-nolines-pages-blocks.7z
generated-pages-blocks.7z
/words.tgz
words.txt
*.pyc